<div class = "container" > <h1 > Query </h1>

	<label for "id">id greater than:</label > 
	<input id = "idCriteria" type = text class = "form-control" placeholder = "number" > </input>

	<label for "id">Sleep quality</label > 
	<input id = "sleepQuality" type = text class = "form-control" placeholder = "sleepQuality" > </input>

	<label for "limit">Limit</label > 
	<input id = "limit" type = text class = "form-control" placeholder = "limit" > </input> 

	<label for "limit">Skip</label > 
	<input id = "skip" type = text class = "form-control" placeholder = "skip" > </input>

	<select id = "sort" type = text class="form-control" placeholder="sort">
		<option value="asc">asc</option > 
		<option value = "desc" > desc </option>
	</select >

	<button id = "findme" class = "btn btn-default btn-sm" > find </button><br / > <br / > 
	<pre > <div id = "found" > </div> </pre > 

</div>